Source: redis-bash
Section: unknown
Priority: extra
Maintainer: Andre Ferraz <andre.ferraz@locaweb.com.br>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/redis-bash.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/redis-bash.git;a=summary

Package: redis-bash
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
