Source: redis-bash
Section: shells
Priority: extra
Maintainer: Andre Ferraz <andre.ferraz@locaweb.com.br>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: https://github.com/caquino/redis-bash
#Vcs-Git: git://git.debian.org/collab-maint/redis-bash.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/redis-bash.git;a=summary

Package: redis-bash
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, bash
Description: Redis protocol implementation written in bash
 Redis protocol implementation written in bash
